*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(230, 117, 26);
}

h1{
    color: rgb(83, 23, 23);
}

.ImgSlider{
    width: 60%;
    height: 600px;
    background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/360_F_345689719_5UzTP0cvFLTf0EniOoBT1jRR02R5YODU.jpg');
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 60s linear infinite;
}

@keyframes changeImage{
    0% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/360_F_345689719_5UzTP0cvFLTf0EniOoBT1jRR02R5YODU.jpg');
    }
    25% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/donate-plasma-medical-analysis-stack-of-books-flat-illustration-vector.jpg');
    }
    50% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/images%20(7).png');
    }
    75% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/depositphotos_381436168-stock-illustration-laboratory-assistant-does-blood-sample.jpg');
    }
    100% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/shutterstock_1904157220.jpg');
    }
}