<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plasma Donor Application</title>
</head>
<body>
    <h1>Plasma Donor Application</h1>
    <div>
        Donor Login
        <a href="{{url_for('donorlogin')}}">Click Here</a>
    </div>
    <div>
        Recipient Login
        <a href="{{url_for('recipientlogin')}}">Click Here</a>
    </div>
    <div>
        Hospital In-Charge Login
        <a href="{{url_for('inchargelogin')}}">Click Here</a>
    </div>
</body>
</html>