*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(62, 183, 243);
}

h1{
    color: rgb(7, 50, 72);
}

.ImgSlider{
    width: 60%;
    height: 600px;
    background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/donate-plasma-hand-drawn-illustrations-vector-185528425.jpg');
    background-size: 100% 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: changeImage 60s linear infinite;
}

@keyframes changeImage{
    0% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/donate-plasma-hand-drawn-illustrations-vector-185528425.jpg');
    }
    25% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/1000_F_339924287_Plr4yeI4XftGuiGmKs3PIFC3JdiTCRpR.jpg');
    }
    50% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/plasma-donation-word-cloud-concept-grey-background-90690964.jpg');
    }
    75% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/images%20(26).jpeg.jpg');
    }
    100% {
        background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/th.jfif');
    }
}